.content-common {
  min-width: 320px;
  max-width: 800px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

a.router,
.router a {
  background-image: linear-gradient(
    -40deg,
    rgb(var(--v-theme-primary)),
    rgb(var(--v-theme-primary-darken-1))
  );
  background-position-x: 0;
  background-position-y: 90%;
  background-repeat: no-repeat;
  background-size: 0 0.3em;
  text-decoration: underline rgb(var(--v-theme-primary));

  color: inherit;
  opacity: 0.8;
  transition: background-size 0.5s ease-in-out;
}

a.router:hover,
.router a:hover {
  opacity: 1;
  text-decoration: none;

  background-size: 100% 0.3em;
  transition: background-size 0.5s ease-in-out;
}

.v-btn,
.v-list-item--link,
.v-card--link {
  text-decoration: none !important;
  background-size: 0 0.3em !important;
}
