.content-common {
  min-width: 320px;
  max-width: 800px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

a.router {
  text-decoration: none;
  display: inline-block;

  /*noinspection CssUnresolvedCustomProperty*/
  color: rgb(var(--v-theme-primary-darken-1));
  transition: all 0.5s ease-in-out;
}

.v-footer a {
  text-decoration: none;

  color: inherit;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.v-main a.router {
  /*noinspection CssUnresolvedCustomProperty*/
  color: rgb(var(--v-theme-primary-darken-1));
}

a.router:hover {
  /*noinspection CssUnresolvedCustomProperty*/
  color: rgb(var(--v-theme-primary));
  opacity: 1;
  text-decoration: underline;

  transition: all 0.5s ease-in-out;
}

.v-footer a:hover {
  color: inherit;
  opacity: 1;
  text-decoration: underline;

  transition: all 0.5s ease-in-out;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}
