.content-common {
  min-width: 320px;
  max-width: 800px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

a.router {
  color: inherit;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.5s;
}

a.router:hover {
  color: inherit;
  opacity: 1;
  text-decoration: underline;
  transition: all 0.5s;
}
