@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MinecraftTen';
  src: url("./assets/font/Minecraft-Ten.ttf.woff");
}

@media (max-width: 500px) {
  .mobile-hide {
    display: none;
  }
}

@media (min-width: 500px) {
  .mobile-show {
    display: none;
  }
}

.content-common {
  min-width: 320px;
  max-width: 800px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

